body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 370px;
}

.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

.main-content {
    padding: 100px 90px;
}

.main-content-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

.about-me {
    margin: 0 0 40px 0;
}

.about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 20px 0;
}

.my-name {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin: 0 0 25px 0;
}

.about-me-description {
    width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects {
    margin-bottom: 50px;
}

.my-projects-list {
    padding: 0 0 0 18px;
}

.my-projects-item {
    color: #000;
    font-weight: bold;
}

.my-projects-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-bracket {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.my-work-experience {
margin-bottom: 40px;
}

.my-work-experience-company {
    color: #fb6d3a;
}

.my-work-experience-position {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
}

.my-work-experience-period {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ababab;
    margin:0 0 10px 0;
}

.my-work-experience-devider {
    color: #000;
}

.my-work-experience-duties {
    padding: 0 0 0 18px;
}

.my-work-experience-duty {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-work-experience-company-block {
    margin: 0 15px 0 0;
}

.my-education {
    margin-bottom: 10px;
}

.my-education-university {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin: 0 0 10px 0;
}

.my-education-specialization {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin: 0 0 10px 0;
}

.sidebar {
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts, 
.tech-skills,
.soft-skills {
    margin: 50px 0 0 40px;
}

.sidebar-title,
.courses-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.contacts-section-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}

.contacts-section-link {
    color: #565e6a;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}
.contacts-section-link.underline {
    text-decoration: none;
}

.tech-skills-list {
    padding-left: 17px;
}

.tech-skills-item {
    color: #fb6d3a;
}

.tech-skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

.courses {
    margin: 50px;
}

.courses-info {
    display: block;
    position: absolute;
    width: 370px;
    height: 40px;
    background: transparent;
    border: none;
}

.online-courses-item {
    padding-bottom: 15px;
}

.online-courses-link {
    text-decoration: none;
    color: #fb6d3a;
}

.modal {
    position: fixed;
    top: 30%;
    bottom: 0;
    z-index: 1050;
    overflow: auto;
    left: 43%;
    background: #f5f7fa;
    height: fit-content;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.modal-background {
    position: fixed;
    inset: 0px;
    background-color: rgba(51, 53, 87, 0.5);
    z-index: 1;
}

.close-modal {
    border: none;
    background: none;
    cursor: pointer;
}

